body {
  background-color: #afeeee;
}

h1 {
  margin: auto;
  display: inline-block;
}

form {
  display: flex;
  flex-direction: column;
  grid-template-columns: 50%;
  font-size: 1.5em;
  font-family: Arial, san-serif;
  width: 70%;
  margin: auto;
  border: solid black 3px;
  background-color: rgb(200, 200, 220, 80%);
}

.question {
  font-weight: bold;
}

#title{
  margin: auto;
  text-align: center;
  display: block;
  padding: 20px 20px;
  font-family: Arial, san-serif;
  font-weight: 800;
}

#description{
  margin: auto;
  text-align: center;
  display: block;
  padding: 20px 20px;
}

label {
  display: block;
  padding: 5px;
  margin: 5px 10px 5px 10px;
}

#interestingfact {
  height: 150px;
  width: 80%;
  margin: auto;
  display: block;
  border: solid black 2px;
}

#submit {
  display: block;
  margin: 10px auto 10px;
}
